* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.overall {
    display: flex;
    padding-inline: 10%;
    gap: 5%;
}

.title {
    font-size: 24px;
}

.left-form-wrapper {
    flex: 1;
    background-color: #e8e9f2;
    border-radius: 5px;
    padding: 2%;
    /* width: 40%; */
}

.right-preview-wrapper {
    flex: 1;
    background-color: rgb(232, 233, 242);
    border-radius: 5px;
    padding: 2%;
}

hr.solid {
    border-top: 3px solid #bbb;
}

.sentence {
    flex: 0;
}

.sentence-input {
    border: none;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    width: 80%;
}

.words-container {
    background: rgb(232, 233, 242);
    border-radius: 16px;
    display: flex;
    align-items: center;
    /* padding-inline: 1%; */
    margin-top: 3%;
}

.word-input {
    border: none;
    padding: 12px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    margin-left: 1%;
    width: 20%;
    /* background-color: black; */
}

.color-input {
    /* height: 100%; */
    width: 10%;
    background-color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 39px;
    width: 7%;
    transition: 0.3s;
}

.del-button {
    /* background-color: red; */
    border: none;
    border-radius: 4px;
    color: white;
    background-color: rgb(232, 233, 242);
    /* padding: 12px 16px; */
    /* font-size: 16px; */
    height: 40px;
    width: 30px;
    cursor: pointer;
    margin-left: 1.5%;
}

.del-button:hover {
    background-color: rgb(220, 148, 152);
}

.del-button.del-button:click {
    border: 1px black;
}

.add-button {
    border: none;
    border-radius: 4px;
    color: white;
    background-color: royalblue;
    /* padding: 12px 16px; */
    /* font-size: 16px; */
    height: 40px;
    cursor: pointer;
    margin-top: 2%;
}


/* Options Section */
.options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Space between the form groups */
}

.form-group {
    display: flex;
    align-items: center;
}

.form-group label {
    min-width: 150px;
    /* Set a fixed or minimum width for the labels */
    margin-right: 10px;
    /* Space between the label and input */
    text-align: left;
    /* Align the label text to the right */
}

.option-input {
    /* flex: 1; */
    border: none;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    margin-left: 1%;
    /* width: 30%; */
    /* Allow the input to take up the remaining space */
}

/* .color-input-option {
    width: 20%;
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 39px;
    width: 7%;
    transition: 0.3s;
} */

.color-input-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.color-picker {
    padding-left: 1%;
    border: none;
    background: none;
    background-color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 39px;
    width: 12%;
    transition: 0.3s;
}

.color-text {
    /* width: 100px; */
    text-transform: uppercase;
    border: none;
    padding: 12px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    /* width: 50%; */
}


/* Preview Section */

.markdown-textarea {
    border: none;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    margin-left: 1%;
    /* width: 20%; */
    resize: none;
    background-color: blue;
}



/* Animation Logic */
.preview-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    /* background-color: #bbb; */
}

#animation-sentence {
    margin-right: 6px;
    white-space: nowrap;
    display: inline-block;
    padding-top: 2.1%;
    /* vertical-align: middle; */
}

.rotating-text {
    display: inline-flex;
    position: relative;
    white-space: nowrap;
    /* vertical-align: middle; */
}

.word {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    /* vertical-align: middle; */
}

.letter {
    display: inline-block;
    transition: transform 0.5s ease;
    transform-origin: 50% 50%;
}

.letter.in {
    transform: rotateX(0deg);
}

.letter.out {
    transform: rotateX(90deg);
}

.letter.behind {
    transform: rotateX(-90deg);
}
